#top{
  width: 100%;
  height: 70px;
  background-color: black;
  border: 0.5px solid white;
  display: flex;
  justify-content: center;
}

#sortBy_div{
  width: 80%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#sortBy_div p{
  font-size: 30px;
  color: white;
  
}
#mid{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-bottom: 0.5px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
#mid::-webkit-scrollbar{
  width: 10px;
  background-color: black;
}
#mid::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 20px;
}