body{
display: flex;
justify-content: center;
 background-color: black;
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 20px;
}

#page_title{
  position: fixed;
  left: 80px;
  top: 80px;
  color: white;
}
#page_title h1:last-child{
  color: #B6B6B6;
}
#root{
  width: 50%;
  height: 100vh;
  background-color: black;
  

}

